.ql-container {
  font-family: "Inter", sans-serif !important;
}

.ql-editor h1 {
    font-size: 3em !important;
}

.ql-editor h2 {
    font-size: 2.5em !important;
}

.ql-editor h3 {
    font-size: 2em !important;
}

.ql-editor p, 
.ql-editor ol, 
.ql-editor ul, 
.ql-editor pre, 
.ql-editor blockquote {
    font-size: 1.3em;
}

#nprogress .bar {
    background: rgb(240, 85, 55);
    height: 5px;
}

#nprogress .peg {
    box-shadow: 0 0 10px rgb(240, 85, 55), 0 0 5px rgb(240, 85, 55);
}

#nprogress .spinner .spinner-icon {
    border-top-color: rgb(240, 85, 55);
    border-left-color: rgb(240, 85, 55);
}